.public-node-container{
    background-color: #FDFAFD;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    width: 20vw;

}

.public-node-drop-down-btn {
    width: 100%;
    background: transparent;
    border: 1px solid #FDFAFD; /* Add a border for better visibility */
    text-align: left;
    display: flex; /* Ensures alignment works for text and icon */
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 8px 12px; /* Adds spacing */
    border-radius: 4px; /* Rounds the edges slightly */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.public-node-drop-down-btn:hover {
    background-color: #f0f0f0; /* Light background on hover */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
    cursor: pointer; /* Change cursor to pointer */
}


.public-node-title{
    color: #343434; 
}

.public-node-val{
    width: 40vw;
    height: 2vh;
}