.gradient-border {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,84,121,1) 0%, rgba(0,212,255,1) 100%);
}

.shadow-row {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for alternate rows */
}
